<div class="container">
  <h1>LOGIN </h1>
  <form >
    <div class="form-group">
        <div *ngIf="error" class="text-danger" >{{error}}</div> 
      <label for="email">EMAIL</label>
      <input [(ngModel)]="login.email" type="text" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">PASSOWRD</label>
      <input [(ngModel)]="login.password" type="text" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
  </form>
</div>
